@model Course
@{
    ViewData["Title"] = "Delete";
    SelectList deptList = new SelectList(ViewBag.deptList, "Id", "Name");
}

<h1 class="text-center text-danger">Delete</h1>

<form method="post" onsubmit="return confirmDelete();">
    <div>
        <label asp-for="Name" class="fw-bold"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div>
        <label asp-for="MinDegree" class="fw-bold"></label>
        <input asp-for="MinDegree" class="form-control" />
    </div>
    <div>
        <label asp-for="Dept_Id" class="fw-bold">Department</label>
        <select asp-for="Dept_Id" asp-items="deptList" class="form-control">
        </select>
    </div>
    <button type="submit" value="Delete" class="btn btn-danger mt-4">Delete</button>
    <a class="btn btn-primary mt-4" asp-action="Index">Cancel</a>
</form>

<script>
    function confirmDelete() {
        return confirm('Are you sure you want to delete this course?');
    }
</script>